body {
  background: #3A3A59;
  color: #FFF;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: block;
  margin-left: 15vw;
  margin-right: auto;
}

video {
  width: 70vw;
  height: auto;
}
